.wrap-form {
  margin-top: 20px;
  display: flex;
}
.flex-8 {
  flex: 8;
}
.flex-2 {
  flex: 2.5;
}
.color-blue {
  color: var(--color-bg-header);
}
.text-center {
  text-align: center;
}
.wrap-vat {
  margin-top: 20px;
  border: 1px solid var(--color-gray);
  padding: 5px 20px 10px 20px;
  border-radius: 5px;
  flex: 7;
}
.mt-30 {
  margin-top: 30px;
}
.flex-3 {
  flex: 3;
}
.flex-2 {
  flex: 2;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}

.div-main .table-more table {
  max-height: 15%; /* Đặt chiều cao tối đa cho container */
  overflow-y: auto; /* Thêm thanh cuộn dọc */
  min-height: 15%;
}
.filter-select {
  background-color: #00bfff;
  color: white;
  padding: 4px 10px 4px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  -webkit-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  -moz-appearance: none; /* Xóa kiểu mặc định của Firefox */
  appearance: none; /* Xóa kiểu mặc định cho tất cả trình duyệt */
  cursor: pointer;
  text-align: left;
  display: inline-block;
  align-content: center;
}

.filter-select option {
  background-color: #00bfff;
  color: white;
}
.icon-filter {
  rotate: 90deg;
  position: absolute;
  top: -2px;
  right: 10px;
  color: #fff;
}
.btn-more {
  padding: 0px;
  background-color: #fff;
}
.btn-filter {
  background-color: #fff;
  rotate: 180deg;
  margin-top: 6%;
}
.btn-filter:focus {
  outline: none;
}
