.navbar {
  padding-left: 0px;
  height: 100%;
}
.navbar-item {
  padding: 8px;
  margin-bottom: 3px;
}
.color-black {
  color: var(--color-black);
}
.navbar-item :hover {
  opacity: 0.8;
  background-color: var(--color-gray);
}
.active {
  background-color: #dee4bd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.active-item {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bg-navbar {
  background-color: var(--color-bg-navbar);
}
.bg-more {
  background-color: var(--color-gray);
  /* padding: 8px; */
  justify-items: center;
  height: 100%;
}

.pd-20-px {
  padding-top: 0px;
}
.text-black {
  color: var(--color-black);
}

.text-nav {
  font-size: 14px;
  font-weight: 400;
}
.mt-20 {
  margin-top: 15px;
}
.mb-20-px {
  margin-bottom: 30px;
}
.pd-8 {
  padding: 0px;
}
.wrap-nav-item {
  border-right: 1px solid #ccc;
  padding-left: 12px;
}
