.span-text {
  /* padding: 5px 10px; 
  margin-right: 10px; 
  border-radius: 4px;
  display: inline-flex; 
  align-items: center;  */

  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  color: var(--color-main-text);
}
.span-DANGER {
  background-color: #dc3545 !important;
}

.span-WARNING {
  background-color: #ffc107 !important;
}

.span-INFOR {
  background-color: #0dcaf0 !important;
}

.span-SUCCESS {
  background-color: #198754 !important;
}
.span-ADMIN {
  background-color: #ffc107 !important;
}
.span-USER {
  background-color: #0dcaf0 !important;
}
