// ui-admin/src/pages/system/login.scss
.login {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#004e92, #000428);
  .logo {
    margin-bottom: 2%;
    justify-content: center;
    display: flex;
    width: 105%;
    img {
      width: 130px;
      height: 120px;
    }
  }
  .header {
    // height: 30vh;
    display: flex;
    margin-bottom: 1.5%;

    .title {
      align-items: center;
      margin-top: 3%;
      justify-content: center;
      height: 35%;
      // float: left;
      color: white;
      display: inline-block;
      width: 50%;
    }
    .text {
      border-right: 1.5px solid white;
    }
    .text h1 {
      margin-right: 10px;
      font-size: 60px;
      float: right;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    .text_2 h1 {
      font-weight: 600;
      margin-left: 10px;
      font-size: 32px;
      float: left;
      line-height: 1.2;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
  .body {
    // padding-top: 7%;
    // padding-left: 5%;
    color: white;
    width: 40%;
    padding-left: 10%;
    margin: 0px auto;

    input {
      width: 90%;
      // height: 50px;
      padding: 15px 10px;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600;
      background-color: var(--color-gray);
    }
    h2 {
      font-size: 20px;
      margin-bottom: 7px;
    }
    .pass {
      margin-top: 20px;
    }
    button {
      font-size: 24px;
      border-radius: 10px;
      color: white;
      border: none;
      background-color: var(--color-main);
      margin-top: 10%;
      width: 90%;
      // height: 50px;
    }
    button:active {
      background-color: #747bff;
    }
  }
}
